*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PingFang SC', sans-serif;
}

:root {
    --Primary-00: #002F59;
    --Primary-01: #00529D; 
    --Primary-02: #2587E1; 
    --Primary-04: #AAD6FF; 
    --Primary-05: #E9F5FF;
    --Text-Gray800: #252B37; 
    --TagText-Gray600: #535862;
    --Content-Gray500: #717680;  
    --Border-Light: #E9EAEB; 
    --Base-White: #FFF;

}

button {
    all: unset; /* Resets all inherited and default styles */
    display: inline-flex; /* Ensures the button behaves like a flex container */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    cursor: pointer; /* Adds a pointer cursor for better UX */
}


/* ---------Content---------- */
.wrapper{
    display: flex;
    max-width: 1440px;
    width: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.header-1{
    position: fixed;
    top: 0;
    left: 0;
    max-width:1440px;
    width: 100%;
    z-index: 1001;
    background: var(--Primary-00);
    display: flex;
    height: 80px;
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
        
}

.company-menu ul{
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    color: var(--Base-White);
    list-style: none;
    
}

.company-menu ul li{
    padding: 0 20px;
}

.company-menu ul li a{
    color: var(--Base-White);
    text-decoration: none;
}

.language{
    display: flex;
    padding: 20px 24px;
    align-items: center;
    gap: 24px;
}

.language ul{
    display: flex;
    color: var(--Base-White);
    list-style: none;
    align-items: center;
    gap: 8px;
}

.header-menu-bar{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;

}

.header-2{
    position: fixed;
    top: 80px;
    left: 0;
    max-width: 1440px;
    width: 100%;
    z-index: 1000;
    display: flex;
    height: 80px;
    padding: 24px;
    background: var(--Base-White, #FFF);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Primay-05, #E9F5FF);
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    backdrop-filter: blur(2.5px);
}

.user-menu ul{
    display: flex;
    height: 80px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    list-style: none;
    gap: 24px;
    }

.user-menu ul li a{
    color: var(--Text-Gray800);
    text-decoration: none;
}

.hero-section{
    position: relative;
    background-image: url('/assets/image/dk/hero-image.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 500px;
    margin-top: 160px;
    
}

.hero-section-contentContainer{
    font-family: "PingFang TC";
    position: absolute;
    top: 15%;
    left: 5%;
    text-align: left;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.hero-section-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.hero-section-content h1{
    color: var(--Primary-01, #00529D);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

}

.hero-section-content p{
    color: var(--Primary-01, #00529D);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.CTA-btn{
    text-decoration: none;
    width: fit-content;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Primary-02, #2587E1);
    box-shadow: 0px 4px 6px -1px rgba(10, 13, 18, 0.10), 0px 2px 4px -2px rgba(10, 13, 18, 0.06);
    color: var(--Base-White, #FFF);
}

.CTA-btn:hover{
    background: var(--Primary-00, #002F59);
}



.booking-wrapper{
    background: var(--Primay-05, #E9F5FF);
    padding: 64px 60px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: visible;
    /* border: 1px solid red; */
    
}

.annoucement-container{
    display: flex;
    overflow: hidden;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
    background: var(--Primary-01, #00529D);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    color: var(--Base-White, #FFF);
}

.annoucement-title{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.tab-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.tab-item{
    gap: 8px;
}

.tab-item a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--Text-Gray800, #4B4948); 
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--Primay-04, #AAD6FF);
    background: var(--Base-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    padding: 8px 16px;   
}

.tab-item a:hover{
    border: 1px solid var(--Primary-04);
    background: var(--Primary-04, #2587E1);
    
}

.booking-form{
    border: 1px solid purple;
    
}

.ticket-info-wrapper{
    background: var(--Primay-05, #E9F5FF);
    padding: 0 60px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid blue;
    margin-bottom: 40px;


}


.ticket-info-container{
    font-size: 0;
    display: flex;
    gap: 40px;
    border: 1px solid green;

}

.ticket-info-card{
    flex: 0 0 500px;
    
}

/* Adjust for very small screens */
@media (max-width: 480px) {
    .ticket-info-card {
        max-width: 100%; /* Full width for very small screens */
    }
}

.ticket-info-image img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.ticket-content-container{
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding:24px;
    justify-content: center;
    background: var(--Base-White, #FFF);
    
    
}

.info-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
}

.info-content h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: var(--Text-Gray800);

}

.info-content p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--Content-Gray500);
}



.info-btn-container{
    text-align: center;
}

.ticket-ctaBTN{
    color: var(--Primary-02);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.ticket-ctaBTN:hover{
    color: var(--Primary-00);
}

/* Page indicator styles */
.page-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    height: 32px;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--Base-White);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: var(--Primary-02)
}
.arrow{
    height: 32px;
}

.tourism-wrapper{
    max-width: 1440px;
    width: 100%;

}

.tourism-title-container{
    display: flex;
    padding: 64px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.tourism-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    
}

.tourism-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.tourism-carousel{
    width: 100%;
    background-image: url('/assets/image/dk/carousel.png');
    height: 585px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    

}

.tourism-indicator-container{
    position: absolute;
    left: 50%;
    top: 90%;
    display: flex;
    gap: 8px;
}

.tourism-indicator{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--Base-White);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tourism-indicator.active {
    background-color: var(--Primary-02);
}

.page-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 290px 24px 0 24px;
    height: 40px;
    
}

.page-controller img{
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);

    width: 40px;
    height: 40px;
    padding: 4px;
    gap: 4px;
    aspect-ratio: 1/1;
    
}

.tourism-ticket-title-container{
    margin: 64px 60px 40px 60px;
}

.tourism-ticket-title-container h4{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 16px;
}

.tourism-ticket-title-container p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tourism-card{
    max-width: 1440px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 64px;;


}

.toursim-card-container{
    font-size: 0;
    align-self: stretch;
    
}

.toursim-card-container{
    max-width: 413px;
    width: 100%;
}

.tourism-card-image{}

.tourism-card-image img{}

.tourism-content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    padding: 24px;
    
    border-radius: 0px 0px 10px 10px;
    border-right: 1px solid var(--Primay-04, #AAD6FF);
    border-bottom: 1px solid var(--Primay-04, #AAD6FF);
    border-left: 1px solid var(--Primay-04, #AAD6FF);
    background: var(--Base-White, #FFF);

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

}

.info-content{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.info-content h5{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.info-content p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.btn-container{
    border-radius: 100px;
    background: var(--Primary-02, #2587E1);
    display: flex;
    padding: 8px 12px 8px 24px;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.tourism-ctaBTN{
    color: var(--Base-White, #FFF);
    
}

/* 應該是要hover整個按鈕都可以點擊，目前只有字 */
.btn-container:hover{
    background: var(--Primary-00, #2587E1);
}


/* -----------Explore button -------- */
.explore-btn{
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid var(--Primary-00, #002F59);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
}

.explore-ctaBTN{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    color: var(--Gray-800, #252B37);
}

.explore-ctaBTN:hover{
    color: var(--Primary-02, #FFF)
}

.explore-ctaBTN img{
    color: var(--Gray-800, #252B37);
    
}

.faqs-wrapper{
    max-width: 1440px;
    width: 100%;
    padding: 64px 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faqs-title-container{}

.faqs-title-container h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--Gray-800, #252B37);
    text-align: center;
}

.faqs-tab-container{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.tab-item.active{
    border-radius: 30px;
    background: var(--Primary-02, #2587E1);
    color: var(--Base-White, #FFF);
    

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tab-items{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: 1px solid var(--Primary-04);
    background: var(--Base-White, #FFF);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.faqs-content-container{
    display: flex;
    padding: 24px 40px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Gray-200, #E9EAEB);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);



}
   

.faqs-content-items{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
}


.faqs-content h3{
    color: var(--Gray-800, #252B37);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}


.faqs-content-text{
    color: var(--Gray-500, #717680);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 24px;
}


.faqs-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin-bottom: 40px;
}



/* -------------- News ------------- */

.news-item{
    display: flex;
    gap: 40px;
    padding: 40px 0;

    border-bottom: 1px solid var(--Gray-200, #E9EAEB);
}

.news-item-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.news-item-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.news-tab{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 20px;
    background: var(--Primay-05, #E9F5FF);
    margin-bottom: 16px;


}

.news-tab h6{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.news-tab p{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
}

.news-item-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-item-text h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--Gray-800, #252B37);
}

.news-item-text p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--Gray-500, #717680);

    display: -webkit-box; /* Enables the use of line-clamp */
    -webkit-line-clamp: 5; /* Limits the content to 5 lines */
    -webkit-box-orient: vertical; /* Specifies vertical orientation for the box */
    overflow: hidden; /* Hides the overflowing content */
    text-overflow: ellipsis; /* Adds "..." at the end of the truncated text */
}

.read-more-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
}

.read-more-btn:hover{
    color: var(--Primary-02, #2587E1);
}

/* ------ download app --------*/
.download-app-wrapper{
    display: flex;
}

.download-app-image{}

.download-app-content-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    
}

.download-app-title-container{
}

.download-app-title-container h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--Gray-800, #252B37);
}


.download-app-title-container p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.download-app-btn{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* footer */

.footer-wrapper{
    background: var(--Primary-00, #002F59);
    display: flex;
    padding: 64px 60px;
    flex-direction: column;
    
    
}

.footer-content-top{
    display: flex;
    
}

.logo-container {
    display: flex;
    flex-direction: column;
    color: var(--Base-White, #FFF);
    
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.logo img {
}

.logo-text {
    font-size: 18px;
    line-height: 1.4;
}

.company-info {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.8;
}

.emergency-contact {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.8;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav-column {
    display: flex;
    flex-direction: column;
}

.nav-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

.nav-link {
    font-size: 14px;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-link:hover {
    text-decoration: underline;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}



