*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PingFang SC', sans-serif;
}

:root {
    --Primary-00: #002F59;
    --Primary-01: #00529D; 
    --Primary-02: #2587E1; 
    --Primary-04: #AAD6FF; 
    --Primary-05: #E9F5FF;
    --Text-Gray800: #252B37; 
    --TagText-Gray600: #535862;
    --Content-Gray500: #717680;  
    --Border-Light: #E9EAEB; 
    --Base-White: #FFF;

}

.header-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    background: var(--Primary-00);
    display: flex;
    height: 80px;
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
        
}

.company-menu ul{
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    color: var(--Base-White);
    list-style: none;
    
}

.company-menu ul li{
    padding: 0 20px;
}

.company-menu ul li a{
    color: var(--Base-White);
    text-decoration: none;
}

.language{
    display: flex;
    padding: 20px 24px;
    align-items: center;
    gap: 24px;
}

.language ul{
    display: flex;
    color: var(--Base-White);
    list-style: none;
    align-items: center;
    gap: 8px;
}

.header-menu-bar{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;

}

.header-2{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    height: 80px;
    padding: 24px;
    background: var(--Base-White, #FFF);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Primay-05, #E9F5FF);
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    backdrop-filter: blur(2.5px);
}

.user-menu ul{
    display: flex;
    height: 80px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    list-style: none;
    gap: 24px;
    }

.user-menu ul li a{
    color: var(--Text-Gray800);
    text-decoration: none;
}



.hero-image-container {
    background-image: url('/assets/image/dk/hero-image.png'); 
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
}


.hero-section-content h1{
    color: var(--Primary-01, #00529D);
    font-family: "PingFang TC";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

}

.hero-section-content p{
    color: var(--Primary-01, #00529D);
    font-family: "PingFang TC";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.booking-wrapper{}

.annoucement-container{
    display: flex;
    overflow: hidden;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
    background: var(--Primary-01, #00529D);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    color: var(--Base-White, #FFF);
    margin: 64px 60px;
}

.annoucement-title{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.tab-container{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.tab-item{
    display: flex;
    flex-direction: row;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tab-item a {
    text-decoration: none;
    color: var(--Text-Gray800, #4B4948); 
}

